In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from keras import Sequential
from keras.layers import Dense

In [35]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_sub = pd.read_csv('sample_submission.csv')

In [36]:
X_train = df_train.drop('Exited', axis=1)
y_train = df_train['Exited']
X_test = df_test

In [37]:
X_train

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,15715707.0,P'eng,685.0,France,Female,31.0,4.0,152582.2,1.0,1.0,1.0,130795.52
1,1,15651022.0,Ch'ien,590.0,France,Male,43.0,2.0,0.0,2.0,1.0,0.0,96929.24
2,2,15589969.0,Yeh,588.0,France,Male,31.0,10.0,0.0,2.0,1.0,1.0,177896.92
3,3,15618661.0,Ch'ien,593.0,Spain,Male,37.0,9.0,0.0,2.0,1.0,0.0,53817.23
4,4,15771580.0,Nweke,730.0,France,Female,52.0,8.0,0.0,1.0,1.0,0.0,1276.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,15700946.0,Chidubem,567.0,France,Female,29.0,6.0,0.0,2.0,1.0,0.0,69409.37
14996,14996,15652084.0,Teng,476.0,Spain,Male,29.0,3.0,0.0,2.0,1.0,0.0,116973.48
14997,14997,15657829.0,H?,773.0,France,Male,50.0,4.0,0.0,2.0,1.0,1.0,124071.71
14998,14998,15781598.0,Ch'en,648.0,France,Male,37.0,3.0,0.0,2.0,1.0,1.0,81602.02
14999,14999,15777772.0,Chinomso,635.0,France,Male,30.0,1.0,0.0,2.0,1.0,0.0,132959.33

In [38]:
X_test

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15000,15628308.0,Nkemjika,583.0,France,Male,40.0,7.0,0.00,2.0,1.0,0.0,151481.86
1,15001,15686909.0,Chiu,595.0,France,Male,39.0,3.0,0.00,2.0,1.0,0.0,87400.53
2,15002,15579616.0,Folliero,622.0,France,Male,24.0,3.0,0.00,2.0,1.0,0.0,176712.59
3,15003,15795953.0,Chukwubuikem,577.0,Germany,Male,50.0,5.0,127305.50,1.0,1.0,1.0,28806.32
4,15004,15752731.0,Y?an,605.0,Spain,Male,39.0,2.0,88915.85,1.0,1.0,0.0,138521.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,24995,15725002.0,Chukwufumnanya,695.0,France,Female,26.0,7.0,0.00,2.0,1.0,0.0,161807.84
9996,24996,15612092.0,Ijendu,754.0,Spain,Female,28.0,8.0,0.00,2.0,1.0,1.0,109626.01
9997,24997,15750055.0,Ts'ai,676.0,Germany,Male,37.0,3.0,117594.41,2.0,1.0,0.0,176692.87
9998,24998,15789563.0,Macleod,614.0,Spain,Male,38.0,2.0,0.00,2.0,1.0,0.0,124592.83
9999,24999,15642655.0,T'ien,684.0,France,Male,32.0,3.0,0.00,2.0,1.0,0.0,66580.13

In [39]:
X_train = X_train.drop(['id', 'Surname'], axis=1)
X_test = X_test.drop(['id' ,'Surname'], axis=1)

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
for i in X_train.columns:
    if X_train[i].dtype == object:
        encoder = LabelEncoder()
        X_train[i] = encoder.fit_transform(X_train[i])
        X_test[i] = encoder.transform(X_test[i])

In [42]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  float64
 1   CreditScore      10000 non-null  float64
 2   Geography        10000 non-null  int64
 3   Gender           10000 non-null  int64
 4   Age              10000 non-null  float64
 5   Tenure           10000 non-null  float64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  float64
 8   HasCrCard        10000 non-null  float64
 9   IsActiveMember   10000 non-null  float64
 10  EstimatedSalary  10000 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 859.5 KB

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
Sceler = MinMaxScaler()

In [45]:
X_train = Sceler.fit_transform(X_train)
X_test = Sceler.transform(X_test)

In [46]:
from keras.utils import to_categorical

In [47]:
y_train = to_categorical(y_train)

In [57]:
y_train.shape

(15000, 2)

In [58]:
y_train = y_train.reshape(15000, 2,)

In [49]:
X_train.shape

(15000, 11)

In [51]:
X_train = X_train.reshape(15000, 11,)

In [52]:
X_test.shape

(10000, 11)

In [53]:
X_test = X_test.reshape(10000, 11,)

In [62]:
model = Sequential()
model.add(Dense(32, activation='relu', input_shape = (11, )))
model.add(Dense(24, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer='adam', loss=['binary_crossentropy'], metrics=['accuracy'])

/home/marshal/Desktop/ML/venv/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [63]:
model.fit(X_train, y_train, epochs=15, batch_size=2)

Epoch 1/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 12s 1ms/step - accuracy: 0.8339 - loss: 0.3959
Epoch 2/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8775 - loss: 0.2955
Epoch 3/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8927 - loss: 0.2644
Epoch 4/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8990 - loss: 0.2572
Epoch 5/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8994 - loss: 0.2509
Epoch 6/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8969 - loss: 0.2525
Epoch 7/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8994 - loss: 0.2506
Epoch 8/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8956 - loss: 0.2610
Epoch 9/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8988 - loss: 0.2559
Epoch 10/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 10s 1ms/step - accuracy: 0.9001 - loss: 0.2453
Epoch 11/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.9006 - loss: 0.2497
Epoch 12/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8965 - loss: 0.2574
Epoch 13/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8949 - loss: 0.2573
Epoch 14/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 10s 1ms/step - accuracy: 0.8998 - loss: 0.2561
Epoch 15/15
7500/7500 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - accuracy: 0.8961 - loss: 0.2516

In [64]:
y_pred = model.predict(X_test)

313/313 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step

In [65]:
pred = [np.argmax(i) for i in y_pred]

In [67]:
pred = np.array(pred)

In [68]:
df_sub['Exited'] = pred

In [69]:
df_sub.to_csv('SNN_sub.csv', index=False, index_label=False)